<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">  
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://localhost:5432/TestDB" />
        <property name="username" value="test" />
        <property name="password" value="test" />       
    </bean>
     
    <bean id="accountDAO" class="com.packt.springhighperformance.ch5.bankingapp.dao.Impl.AccountDaoImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

</beans>
